/*Affects the entire webpage*/
* {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    color: aliceblue;
}

/*Affects all links on the page*/
a {
    text-decoration: none;
}

/*Affects links in the navigation tag and h1 tag in the header*/
nav a,
.welcome {
    text-shadow: 2px 2px 4px #000000;
}

/*Affects video tag*/
video {
    position: fixed;
    /*object-fit: cover;*/
    top: 0;
    right: 0;
    z-index: -1;
}

/*Affects the links in the navigation*/
nav a {
    font-family: Architects Daughter;
}

nav a:hover {
    text-decoration: underline wavy rgb(161, 50, 19);
}

/*Affects the h1 tag in the header*/
.welcome {
    font-family: Berkshire Swash; /*Sonsie One, Berkshire Swash*/
    font-size: 3rem;
    text-align: center;
    padding: 8%;  
    /*margin-top: 30%;
    margin-left: 5%;*/
}

/*Affects the button tag*/
button {
    font-size: 3rem;    
    background-color:rgba(0, 0, 0, 0);
    border: none;
    transition: color 1s, text-shadow 1s, -webkit-text-stroke 1s;
}

button:hover {
    color: rgb(179, 50, 27);    
    text-shadow: 1px 5px 20px #e02a0e;
    -webkit-text-stroke: 2px rgb(58, 19, 2);
}

/*Adds style to the four articles of the page*/
main {
    background-color: rgb(21, 21, 21);
    border-top: 0.5rem solid rgb(96, 31, 17); 
    margin-top: 15%;
    right: 0;
    left: 0;
}

#about-me {
    background-color: blue;
}

#work {
    background-color: orange;
}

#resume {
    background-color: pink;
}

/*Applies to 'Whitney Steen' in the h2 tag*/
#about-me span {
    font-family: La Belle Aurore; /*Homemade Apple, Stalemate, La Belle Aurore, Liu Jian Mao Cao*/
    font-size: 40px;
}

/*Applies to image of author of the site*/
/*#about-me img {
    position: absolute;
    border: 0.5rem solid rgb(96, 31, 17); 
    border-top: 0rem;
    width: 20%;
}

#about-me h2,
#about-me p {
    float: right;
}*/

#about-me,
#work,
#resume,
#contact {
    height: 40rem;
}

footer {
    background-color: rgb(96, 31, 17);
    padding: 1%;
    text-align: center;
}

footer a {
    position: relative;
    /*left: 42%;
    right: 42%;*/
}

footer img {
    padding-left: 2%;
    width: 5rem;
}